include *.rst
include *.txt
include *.py
include *.yml
include .coveragerc
include Makefile
include tox.ini

recursive-include src *
recursive-include docs *

recursive-exclude docs/_build *

global-exclude *.pyc

